.response-box{
    height:30rem;
    width:55rem;
    /*background-color:black;*/
    padding:2rem;
    color:rgb(255,255,255,0.9S);
}
.user-response{
    width:fit-content;
    max-width:65%;
}
.user-response h3{
    color:rgb(255,255,255);
    font-weight:600;
    padding:0.2rem;
    margin:0.5rem;
    font-size:0.9rem;
}
.user-response p{
    background-color:rgba(70, 68, 68, 0.374);
    border-radius:0.7rem;
    font-weight:300;
    padding:0.7rem;
    margin:0.5rem;
    font-size:1rem;
}
.assistant-chat{
    text-align:left;
    margin-right:auto;
}
.user-chat{
    text-align:right;
    margin-left:auto;
}
.loader{
    color:white;
}