.error-box{
    width:77%;
    background-color:rgba(117, 117, 117, 0.3);
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border:1px solid black;
    border-radius:0.5rem;
    margin:1rem 2rem;
    padding-left:1rem;
    position:absolute;
}
.error-info{
    display:flex;
    align-items:center;
}
.error-info p{
    padding-left:1rem;
}
.error-cross i{
    margin:1rem;
}
@media (min-width: 1000px) and (max-width:1200px){
    .error-box{
        width:70%;
        margin-left:0.6rem;
    }
}
@media (min-width: 300px) and (max-width:1000px){
    .error-box{
        width:94%;
        margin-left:0.6rem;
    }
    .error-box p{
        font-size:70%;
    }
}
@media (min-width: 750px) and (max-width:1000px){
    .error-box p{
        font-size:87%;
    }
}
@media (min-width: 500px) and (max-width:750px){
    .error-box p{
        font-size:85%;
    }
}
@media (min-width: 300px) and (max-width:550px){
    .error-box{
        width:91%;
        margin-left:0.6rem;
    }
    .error-box p{
        font-size:75%;
    }
}