.sidebar{
  height:100%;
  width:17%;
  background-color:rgb(46,46,46);
  color:rgb(255,255,255,0.7);
  border:2px solid black;
  display:flex;
  display:block;
  flex-direction:column;
}
.head{
    width:100%;
    height:7%;
    background-color:rgb(46,46,46);
    display:flex;
    justify-content:space-between;
}
.icon{
    padding:1rem;
    font-size:1.5rem;
}
.name{
    display:none;
    font-size:1.5rem;
    margin:0.8rem 1.5rem;
}
.name-extra{
    display:none;
    font-size:1.5rem;
    margin:0.8rem 0.5rem;
}
.nav-close-icon{
    display:none;
}
.functions{
    width:100%;
    display:flex;
    flex-direction:column;
}
.functions a{
    margin:0.3rem;
    border-radius:0.5rem;
    padding:0.4rem;
}
.functions a:hover{
    background-color:rgb(56, 56, 56);
    color:rgb(255,255,255);
    border:1px solid rgba(255,255,255,0.6);
    box-shadow:2px 2px 7px rgba(0, 0, 0, 0.5);
}
.functions a i{
    margin:0 0.3rem 0 0.6rem;
}
.user-info{
    height:8%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.user-info i{
    width:20%;
    font-size:2rem;
    padding-left:0.5rem;
}
.user-info img{
    width:2rem;
    height:2rem;
    padding-left:0.5rem;
    border-radius:50%;
}
.user-info p{
    width:80%;
    padding-left:0.5rem;
    font-size:0.8rem;
    font-weight:600;
}
.auth-button-logout{
    padding:0.3rem 0.3rem;
    border-radius:0.5rem;
    font-size:0.9rem;
    background-color:rgb(172, 15, 15,0.5);
    color:rgba(255,255,255,0.7);
    border:2px solid rgba(255,255,255,0.7);
    margin:0.5rem;
}
.auth-button-logout:hover{
    background-color:rgb(172, 15, 15);
    color:rgba(255,255,255,0.7);
    border:2px solid rgba(172,15,15,1);
    box-shadow:2px 2px 10px red;
}
@media (min-width: 1000px) and (max-width:1200px){
    .sidebar{
        width:25%
    }
}
@media (min-width: 300px) and (max-width:1000px){
    .sidebar{
        width:20rem;
        position:absolute;
        z-index:10;
        box-shadow:1px 2px 100px rgba(135, 134, 134, 0.5);
    }
   .nav-close-icon{
        display:block;
    }
    .name{
        display:block;
    }
}